<li>
	{{id}}
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-newsleep="{{eaten}}">
		{{#if eaten}}I'm Eaten!{{else}}EAT MEEE!{{/if}}
	</button>

	<button class="delete-burgers" data-id="{{this.id}}">DELETE!</button>
</li>
